In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

:

In [9]:
df = pd.read_csv('../IT_Salary_Survey.csv')
df.head()

,Country of Nationality,2014 1st quarter (Jan-March),2014 2nd quarter (Apr-June),2014 3rd quarter (July-Sep),2014 4th quarter (Oct-Dec)),2015 1st quarter (Jan-March),2015 2nd quarter (Apr-June),2015 3rd quarter (July-Sep),2015 4th quarter (Oct-Dec),2016 1st quarter (Jan-March),...,2018 3rd quarter (July-Sep),2018 4th quarter (Oct-Dec),2019 1st quarter (Jan-March),2019 2nd quarter (Apr-June),2019 3rd quarter (July-Sep),2019 4th quarter (Oct-Dec),2020 1st quarter (Jan-March),2020 2nd quarter (Apr-June),2020 3rd quarter (July-Sep),2020 4th quarter (Oct-Dec)
0,Canada,33.1,14.5,15.7,36.7,34.2,14.5,15.9,35.4,34.5,...,16.19,32.94,36.4,14.3,14.8,34.5,88.9,0.3,2.0,8.8
1,United States Of America,25.7,22.0,20.6,31.7,26.4,22.1,19.6,31.9,25.7,...,20.23,31.22,26.9,21.4,19.3,32.3,84.5,0.9,3.8,10.8
2,Argentina,46.8,15.6,13.9,23.7,40.6,17.5,14.6,27.3,41.7,...,15.71,20.22,41.5,16.8,16.7,25.1,97.8,0.2,0.5,1.5
3,Brazil,31.0,18.8,18.7,31.5,34.8,19.0,19.6,26.6,29.7,...,18.95,28.00,32.1,19.5,18.7,29.7,92.6,0.9,2.3,4.1
4,Mexico,23.6,20.3,26.5,29.6,28.1,21.3,23.4,27.2,25.4,...,22.60,31.34,25.0,21.8,21.9,31.2,95.8,0.5,1.2,2.4

In [78]:
def parser(x):
    return datetime.strptime(x, '%Y-%m')

def getDate(x):
    d = x.split(' ')[0: 2]
    d[1] = str(int(d[1][0])*3)
    print(parser("-".join(d)))
#     print(d)

In [79]:
for series_name, series in df.items():
    if series_name == 'Country of Nationality': continue
    getDate(series_name)

new_df = pd.DataFrame()
for series_name, series in df.T.items():
#     print(series_name)
    if series_name == 1:
        new_df[series_name] = series

ValueError: time data '2014-3' does not match format '%Y-%m-%d'

In [47]:
y = list(new_df[1])[1:]

Country of Nationality          Canada
2014 1st quarter (Jan-March)      33.1
2014 2nd quarter (Apr-June)       14.5
2014 3rd quarter (July-Sep)       15.7
2014 4th quarter (Oct-Dec))       36.7
2015 1st quarter (Jan-March)      34.2
2015 2nd quarter (Apr-June)       14.5
2015 3rd quarter (July-Sep)       15.9
2015 4th quarter (Oct-Dec)        35.4
2016 1st quarter (Jan-March)      34.5
2016 2nd quarter (Apr-June)       14.1
2016 3rd quarter (July-Sep)       16.5
2016 4th quarter (Oct-Dec)        34.9
2017 1st quarter (Jan-March)      33.9
2017 2nd quarter (Apr-June)       13.9
2017 3rd quarter (July-Sep)       16.9
2017 4th quarter (Oct-Dec)        35.3
2018 1st quarter (Jan-March)     36.72
2018 2nd quarter (Apr-June)      14.14
2018 3rd quarter (July-Sep)      16.19
2018 4th quarter (Oct-Dec)       32.94
2019 1st quarter (Jan-March)      36.4
2019 2nd quarter (Apr-June)       14.3
2019 3rd quarter (July-Sep)       14.8
2019 4th quarter (Oct-Dec)        34.5
2020 1st quarter (Jan-March)      88.9
2020 2nd quarter (Apr-June)        0.3
2020 3rd quarter (July-Sep)        2.0
2020 4th quarter (Oct-Dec)         8.8
Name: 0, dtype: object