In [1]:
import pandas as pd
import numpy as np

In [2]:
marks_ai = ['0 - 20', '20 - 40', '40 - 60'],
marks_ads = ['10 - 25', '25 - 40', '40 - 55'],
frequency_matrix = [
    [10, 4, 6],
    [5, 40, 9],
    [3, 8, 15]
]

df = pd.DataFrame({
    'marks_ads_ai': marks_ads,
    marks_ai[0]: frequency_matrix[0],
    marks_ai[1]: frequency_matrix[1],
    marks_ai[2]: frequency_matrix[2]
})
df

  marks_ads_ai  10 - 25  25 - 40  40 - 55
0       0 - 20       10        4        6
1      20 - 40        5       40        9
2      40 - 60        3        8       15

In [ ]:
def get_median():
    df = pd.DataFrame()
    df[]